/* -------------------Hide unused navigation items----------------- */

.cp__right-sidebar-settings .ml-4.text-sm:last-child {
  display: none;
}

.origin-top-right .menu-link:nth-child(6) {
  display: none;
}

.origin-top-right hr {
  display: none;
}

/*This removes flashcards from left sidebar*/
.flashcards-nav {
  display: none;
}

/*This removes "Recent" from left sidebar*/
.nav-content-item.recent.is-expand {
  display: none;
}

/*------------------------Move toolbar icons-------------------------*/
/*This moves the forward/backward (next/previous page) arrows to the left*/

/* shrink left toolbar */
.cp__header > .l {
  width: auto;
}

/*move all icons to the left*/
.cp__header > .r {
  justify-content: flex-start;
}

/* add gaps before plugins + re-order */
.ui-items-container[data-type="toolbar"] {
  margin-left: auto;
  order: 1;
}
body:not([data-page="home"]) .r > div:nth-child(2) {
  order: 2;
}
.ui__dropdown-trigger {
  order: 3;
}
.r > div:last-child {
  display: flex !important;
  order: 4;
}

